<section class="read">
  <div class="read-content">
    <h1>Browse any <span>Story</span></h1>

    <div class="search-btns">
      <div class="searchbar">
        <input [(ngModel)]="searchTitle" placeholder="Search by Title" />
        <button (click)="SearchStory(searchTitle)">Search</button>
      </div>
      <button class="btn" (click)="rando()">Random Story</button>
    </div>

    <section class="displayedStories">
      <div class="top">
        <h2>{{ story.title }}</h2>
        <p>By: {{ story.author }}</p>
      </div>
      <hr />
      <p>{{ story.text }}</p>
    </section>
  </div>
</section>
